@keyframes ldio-httyw34oszk {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-httyw34oszk div {
  box-sizing: border-box !important;
}
.ldio-httyw34oszk > div {
  position: absolute;
  width: 68px;
  height: 68px;
  top: 16px;
  left: 16px;
  border-radius: 50%;
  border: 4px solid #000;
  border-color: #3d7ec0 transparent #3d7ec0 transparent;
  animation: ldio-httyw34oszk 2.380952380952381s linear infinite;
}

.ldio-httyw34oszk > div:nth-child(2),
.ldio-httyw34oszk > div:nth-child(4) {
  width: 58px;
  height: 58px;
  top: 21px;
  left: 21px;
  animation: ldio-httyw34oszk 2.380952380952381s linear infinite reverse;
}
.ldio-httyw34oszk > div:nth-child(2) {
  border-color: transparent #cc4545 transparent #cc4545;
}
.ldio-httyw34oszk > div:nth-child(3) {
  border-color: transparent;
}
.ldio-httyw34oszk > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-httyw34oszk > div:nth-child(3) div:before,
.ldio-httyw34oszk > div:nth-child(3) div:after {
  content: '';
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
  top: -4px;
  left: 28px;
  background: #3d7ec0;
  border-radius: 50%;
  box-shadow: 0 64px 0 0 #3d7ec0;
}
.ldio-httyw34oszk > div:nth-child(3) div:after {
  left: -4px;
  top: 28px;
  box-shadow: 64px 0 0 0 #3d7ec0;
}

.ldio-httyw34oszk > div:nth-child(4) {
  border-color: transparent;
}
.ldio-httyw34oszk > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-httyw34oszk > div:nth-child(4) div:before,
.ldio-httyw34oszk > div:nth-child(4) div:after {
  content: '';
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
  top: -4px;
  left: 23px;
  background: #cc4545;
  border-radius: 50%;
  box-shadow: 0 54px 0 0 #cc4545;
}
.ldio-httyw34oszk > div:nth-child(4) div:after {
  left: -4px;
  top: 23px;
  box-shadow: 54px 0 0 0 #cc4545;
}
.loadingio-spinner-double-ring-0hxz00hcguqa {
  width: 77px;
  height: 77px;
  display: inline-block;
  overflow: hidden;
  background: none;
  margin: 0 auto;
}
.ldio-httyw34oszk {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.77);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-httyw34oszk div {
  box-sizing: content-box;
}
